div {
    height: 79px;
    width: 98px;
    background-color: antiquewhite;
    color: rgb(0, 0, 0);
}

.ques {
    color:pink;
    background-color: lightblue;

}

.newclass {
    color:red;
    background-color:aliceblue;
    text-align: center;
    size: 34px;
}