<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1>About Page</h1>
    <%- include("./partials/nav.ejs") %>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores, et iusto quod vitae voluptatum, quidem distinctio id mollitia reiciendis est hic neque obcaecati eius dolor odio optio quos, fugiat quia.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis sequi sint accusamus vel, animi quasi ratione. Illo corrupti magnam corporis? Dolorum dicta ipsa iusto fugit illum mollitia tempore placeat corporis.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus nam ea harum accusamus deleniti sapiente quo aliquid, laboriosam commodi laborum sequi, consectetur maxime. Excepturi architecto impedit dolore dicta voluptatum fugiat?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium maxime, facere veniam unde officiis, numquam cum quae quod tenetur culpa ab ipsa velit mollitia aliquam! Rerum quisquam possimus sed accusantium!
    </p>
</body>
</html>