<!DOCTYPE html>
<html lang="en">

<head>
    <title>HomePage</title>
    <link rel="stylesheet" href="/style.css">
</head>


<body>
        <div class="site-title">
                <h1>HomePage</h1>
        </div>
    <%- include("./partials/nav.ejs") %>

    <div class="blogs-content">
        <h1>All Blogs</h1>
        <%blogs.forEach(blog=>{%>
            <a class="single-blog-link" href="/blogs/<%= blog._id %>">
                <h2 class="title"><%= blog.title %></h2>
            </a>
                <p class="text"><%= blog.text %></p>
            
        <%})%>
    </div>

</body>

</html>